<h3>Suggested Activity:</h3>
<p><%= @activity.description %></p>
<p><b>Suggested number of participants:</b> <%= @activity.participants %></p>
<% if @activity.price == 0 %>
    <b>Cost:</b> Free!
<% elsif @activity.price <= 0.33 %>
    <b>Cost:</b> $
<% elsif @activity.price >= 0.34 && @activity.price <= 0.68 %>
    <b>Cost:</b> $$
<% else %>
    <b>Cost:</b> $$$
<% end %>
<p><b>In USD:</b> <%= @activity.price %></p>